<md-toolbar color="primary">
	Typescript Playground
	<span class="spacer"></span>
	<ng-template [ngIf]="!authService.authenticated()">
		<md-chip-list>
			<md-chip color="accent" selected="true">You need to login before using playground</md-chip>
		</md-chip-list>
		&nbsp;&nbsp;
		<md-icon>forward</md-icon>
	</ng-template>
	<button md-icon-button [mdMenuTriggerFor]="profileMenu">
		<md-icon>person</md-icon>
	</button>
	<md-menu #profileMenu="mdMenu">
		<ng-template [ngIf]="authService.authenticated() && authService.userProfile">
			<button md-menu-item>
			<md-icon>face</md-icon>
				{{authService.userProfile.name}}
			</button>
		</ng-template>
		<button md-menu-item appAuth0LoginButton>
			<ng-template [ngIf]="!authService.authenticated()">
				<md-icon>account_circle</md-icon>
				<span>Login</span>
			</ng-template>
			<ng-template [ngIf]="authService.authenticated()">
				<md-icon>exit_to_app</md-icon>
				<span>Logout</span>
			</ng-template>
		</button>
	</md-menu>
</md-toolbar>
<md-grid-list cols="4" rowHeight="440px">
	<md-grid-tile colspan="2" rowspan="1">
		<app-ts-editor (onCompile)="onTsCompile($event)" (onStartCompile)="onStartTsCompile($event)" (onEndCompile)="onEndTsCompile($event)"></app-ts-editor>
	</md-grid-tile>
	<md-grid-tile colspan="2" rowspan="1">
		<md-progress-bar mode="indeterminate" *ngIf="isTsCompiling"></md-progress-bar>
		<app-js-editor [code]="jsCode"></app-js-editor>
	</md-grid-tile>
</md-grid-list>